@import 'tailwindcss';

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/inconsolata/Inconsolata-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/inconsolata/Inconsolata-Light.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/inconsolata/Inconsolata-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/inconsolata/Inconsolata-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/public/fonts/inconsolata/Inconsolata-ExtraBold.ttf')
    format('truetype');
  font-weight: 900;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inconsolata', monospace !important;
}

.word-spacing-tight {
  word-spacing: -2px;
}
